.contact {
  width: 60%;
  max-width: 688px;
  background: #f0f0f0;
  position: relative;
  margin-top: 5%;
  left: 25%;
  padding: 30px 40px;
  border-radius: 10px;
  text-align: center;
}

.contact h1 {
  font-weight: bold;
}

.txtb {
  border: 1px solid black;
  margin: 10 px 0;
  padding: 12px 18px;
  border-radius: 10px;
}

.txtb input,
.txtb textarea {
  width: 100%;
  border: none;
  background: none;
  font-size: 16px;
  outline: none;
  margin-top: 6px;
  text-align: center;
}

.btn-success {
  display: inline-block;
  color: rgb(7, 7, 7);
  margin-top: 8px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
}

.btn-danger {
  display: inline-block;
  color: rgb(7, 7, 7);
  margin-top: 8px;
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 10px 15px;
}

li {
  display: inline;
}

.fa,
.fas,
.far {
  position: absolute;
  font-size: 35px;
  text-align: left;
}

.displayN {
  display: none;
}
.links h2 {
  margin-top: 20px;
}

.checkFields {
  position: absolute;
  background: rgba(100, 12, 0, 0.589);
  border: 1px solid black;
  font-size: 22px;
  border-radius: 10px;
  top: -5%;
  left: 27%;
  padding: 10px;
}
